extends layout.pug

block content
  .all-games
    each game in games
      .game-preview-containers
        a(href=`/games/${game.id}` class="game-preview-anchor") 
           .game-preview-img
             img(src= game.gameImage, alt="Game Image" class="game-images")
           .game-preview-info
             p= game.name
             p= game.genre
              if locals.authenticated
        .game-tile-btns
            form(action=`/users/${userId}/userProfile` method= "POST")
            button(type="submit" value=game.id name="played" class="game-stat-btn-played") Played
            form(action=`/users/${userId}/userProfile` method="POST") 
            button(type="submit" value=game.id name="wantToPlay" class="game-stat-btn-wtp") Want To Play
block side-content
  .game-sidebar
    h4 Game News
    .game-news-container
      label#game-news-label-1 Assassin's Creed Movie Trailer
      <iframe src="https://www.youtube.com/embed/gfJVoF5ko1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
      //- pick 3-5 games we put in our database and write a cool news story
    .game-news-container
      label#game-news-label-2 Halo Infinite Trailer
      <iframe src="https://www.youtube.com/embed/MBb88gLmJZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    .game-news-container
      label#game-news-label-3 Call of Duty Vanguard Trailer
      <iframe src="https://www.youtube.com/embed/OQ1CwPhE8KQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
