extends layout.pug

block content
  .user-profile-container
    //-========================== USER DATA 
    .user-top
      .profile-picture
        if user.profileImage
          div 
            img.no-padding.pci(src=user.profileImage, alt="Profile Image")
        else 
          p.no-padding 👽
      .user-profile-info
        div 
          .user-profile-info-top
            h4.user-name.no-padding= user.screenName 
            p.user-stuff.no-padding= user.fullName
            p.user-stuff.no-padding(style="margin: 0 8px;") |
            p.user-stuff.no-padding= user.email
          .user-profile-info-bottom
            if user.favGenres
              p.no-padding.genre-title Favorite Genres:
              each genre in user.favGenres
                a(href=`/games/${genre}`).no-padding.genre= genre
            else 
              p.no-padding.genre-title Favorite Genres:
              a(href=`/games/adventure`).no-padding.genre Adventure
              a(href=`/games/action`).no-padding.genre Action
              
    .divider 
      p.no-padding Want to Play
    //-========================== WANT TO PLAY 
    .want-to-play-section
      each gameList in wtpGamesList
        .wtp-gamecontainer(id=`game-preview-containers-${gameList.Game.id}`)
          // OG Container ^^ (fallback plan)
          .game-flex-container
            .game-preview-img(style=`background: url("${gameList.Game.gameImage}") no-repeat center;background-size: cover`)
            .game-preview-info
              .sub-info
                a(href=`/games/${gameList.Game.id}`).game-name.no-padding= gameList.Game.name
              .sub-info
                p.genre-title.no-padding Genres:
                a(href=`/games/${gameList.Game.genre}`).no-padding.genre= gameList.Game.genre 
              .sub-info.rmv
                form(action=`/users/${userId}/userProfile/delete` method= "post")
                  input(type="hidden" value=userId name="user_id")
                  button(type="submit" id=userId value=gameList.Game.id name="game_id" class="remove-game-btn remove-btn") X
        //original
    //- .want-to-play-section
    //-   each gameList in wtpGamesList
    //-     .user-game-preview-containers(id=`game-preview-containers-${gameList.Game.id}`)
    //-       // OG Container ^^ (fallback plan)
    //-       .game-flex-container
    //-         a(href=`/games/${gameList.Game.id}`)
    //-         .game-preview-img
    //-           img(src= gameList.Game.gameImage, alt="Game Image" class="game-images")
    //-         .game-preview-info
    //-           .sub-info
    //-             p.game-name.no-padding= gameList.Game.name
    //-           .sub-info
    //-             p.genre-title.no-padding Genres:
    //-             a(href=`/games/${gameList.Game.genre}`).no-padding.genre= gameList.Game.genre 
    //-           .sub-info
    //-             form(action=`/users/${userId}/userProfile/delete` method= "post")
    //-               input(type="hidden" value=userId name="user_id")
    //-               button(type="submit" id=userId value=gameList.Game.id name="game_id" class="remove-game-btn remove-btn") X
        
    .divider 
      p.no-padding Played
      //-========================== PLAYED
    .played-section
      each gameList in playedGamesList
        .user-game-preview-containers(id=`game-preview-containers-${gameList.Game.id}`)
          .game-flex-container
            a(href=`/games/${gameList.Game.id}`)
            .game-preview-img(style=`background: url("${gameList.Game.gameImage}") no-repeat center;background-size: cover`)
            .game-preview-info
              .sub-info
                a(href=`/games/${gameList.Game.id}`).game-name.no-padding= gameList.Game.name
              .sub-info
                p.genre-title.no-padding Genres 
                a(href=`/games/${gameList.Game.genre}`).no-padding.genre= gameList.Game.genre 
              .sub-info.rmv
                form(action=`/users/${userId}/userProfile/delete` method= "post")
                  input(type="hidden" value=userId name="user_id")
                  button(type="submit" id=userId value=gameList.Game.id name="game_id" class="remove-game-btn remove-btn") X
    
    .divider 
      p.no-padding My Reviews
      //-========================== REVIEWS BY USER
    .users-reviews
      each review in reviews
        .review-preview-container(id=`review-container-${review.id}`)
          .rev-flex-container
            .rev-sub-info
              .rev-image
                img(src=review.Game.gameImage alt="Game Image" class="game-images")
            .rev-sub-info.cont
                h4.rev-game-title.no-padding= review.Game.name
                .rev-content
                  p.no-padding= review.content
                  form(action=`/users/${userId}/review` method= "post")
                    button.no-padding(type="submit" id=userId value=review.id name="remove-review-btn" class="remove-review-btn remove-btn") X

block side-content 
  .advertisement
    img(src="/images/redBottAdvert.png" class="redBottAd")    