extends layout.pug

block content
  .user-profile-container
    .top
      .profile-picture
        p.no-padding 👽
      .user-profile-info
        div 
          .user-profile-info-top
            h4.user-name.no-padding User1234 
            p.user-email.no-padding user1234@games.com
          .user-profile-info-bottom 
            p.no-padding Favorite Genres
            p.no-padding Action RPG Strategy Puzzle
    .divider 
      p.no-padding Want to Play 
    .want-to-play-section
      //-all games user WANTS TO play
      each gameList in wtpGamesList
        div(id=`game-preview-containers-${gameList.Game.id}` class="game-preview-containers")
          a(href=`/games/${gameList.Game.id}`)
           .game-preview-img
             img(src= gameList.Game.gameImage, alt="Game Image" class="game-images")
           .game-preview-info
             h5= gameList.Game.name
             p= gameList.Game.genre 
             form(action=`/users/${userId}/userProfile/delete` method= "post")
              input(type="hidden" value=userId name="user_id")
              button(type="submit" id=userId value=gameList.Game.id name="game_id" class="remove-game-btn") Remove
        
    .divider 
      p.no-padding Played
    .played-section
      //- all games user HAS played
      each gameList in playedGamesList
        div(id=`game-preview-containers-${gameList.Game.id}` class="game-preview-containers")
          a(href=`/games/${gameList.Game.id}`)
           .game-preview-img
             img(src= gameList.Game.gameImage, alt="Game Image" class="game-images")
           .game-preview-info
             h5= gameList.Game.name
             p= gameList.Game.genre 
             form(action=`/users/${userId}/userProfile/delete` method= "post")
              input(type="hidden" value=userId name="user_id")
              button(type="submit"  id=userId value=gameList.Game.id name="game_id" class="remove-game-btn") Remove
    .divider 
      p.no-padding My Reviews
    .users-reviews 
    // all the reviews that the user has made, starting with msot recent